# ===========================
# Python
# ===========================
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo

# ===========================
# IDE
# ===========================
.vscode/
.idea/
*.iml
.DS_Store

# ===========================
# Выходные данные 
# ===========================
output/
*.html

# ===========================
# Jupyter Notebook (кэш)
# ===========================
.ipynb_checkpoints/
*.ipynb_checkpoints
